@import "./reset.css";

html, body {
  height: 100vh;
}

body {
  margin: 50px;
}

header {
  padding: 20px 0;
}

h1 {
  font-size: 40px;
}

#userInputNumbers {
  width: 120px;
  height: 15px;
  text-align: center;
}

#userInputNumbersButton {
  text-align: center;
  background: #2F3545;
  border-color: #2F3545;
  color: azure;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
}

#messageForUser {
  margin-top: 10px;
  height: 20px;
}

#messageForUserText {
  font-size: 15px;
}

#graphArea {
  display: flex;
  justify-content: center;
  height: 250px;
  margin-top: 50px;
  gap: 50px;
  border-bottom: 1px solid;
}

.graph {
  width: 30px;
}

.graphBox {
  display: flex;
  height: 250px;
  flex-direction: column-reverse;
}

.colorDefault {
  background-color: #2F3545;
  transition: 0.5s;
}

.colorCurrent {
  background-color: red;
  transition: 0.5s;
}

.colorCompare {
  background-color: rgb(69, 245, 166);
  transition: 0.5s;
}

.graph-value {
  color: black;
  font-size: 12px;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 5px;
}
